 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [3]:
birth_year = int(input("Enter your birth year: "))
years_list = []

for year in range(birth_year, birth_year + 6):
    years_list.append(year)

print("years_list =", years_list)

Enter your birth year: 2000
years_list = [2000, 2001, 2002, 2003, 2004, 2005]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [4]:
birth_year = 2000
third_birthday_year = birth_year + 3
print("The year of your third birthday is:", third_birthday_year)

The year of your third birthday is: 2003

3.In the years list, which year were you the oldest?

In [5]:
birth_year = 2000
fifth_birthday_year = birth_year + 5
print("The year when you were the oldest is:", fifth_birthday_year)

The year when you were the oldest is: 2005

4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.
5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?
6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]

In [8]:
things = ["mozzarella", "cinderella", "salmonella"]
person_index = 1  # Index of the element "cinderella" in the list

things[person_index] = things[person_index].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

In [11]:
surprise = ["Groucho", "Chico", "Harpo"]

In [14]:
#7
surprise[-1] = surprise[-1].lower()[::-1].capitalize()
print(surprise)

['Groucho', 'Chico', 'Oprah']

In [16]:
a="abhi"

In [19]:
a.capitalize()

'Abhi'

8.Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse. 

9. Write the French word for walrus in your three-word dictionary e2f.
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
11. Print the English version of the French word chien using f2e.
12. Make and print a set of English words from the keys in e2f.

In [20]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [21]:
french_word = e2f['walrus']
print(french_word)

morse

In [22]:
f2e = {value: key for key, value in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [23]:
f2e = {value: key for key, value in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [24]:
english_word = f2e['chien']
print(english_word)

dog

In [25]:
english_words = set(e2f.keys())
print(english_words)

{'dog', 'walrus', 'cat'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.
14. Print the top-level keys of life.
15. Print the keys for life[&#39;animals&#39;].
16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [26]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

In [27]:
top_keys = life.keys()
print(top_keys)

dict_keys(['animals', 'plants', 'other'])

In [28]:
animal_keys = life['animals'].keys()
print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

In [29]:
cat_values = life['animals']['cats']
print(cat_values)

['Henri', 'Grumpy', 'Lucy']